body {
    margin: 0;
    font-family: 'Fjord', sans-serif;
}

button{
    background-color: #3498db; /*rgb(197, 239, 247) ;*/
    border-width: 0px;
    text-align: center;
    -webkit-border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: floralwhite;
    font-weight: 400;
}

button:hover{
    background: #BDC3C7; /*rgb(82, 179, 217);*/
}


input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px #c9c9c9;
    background-color: red;
    transition: border 0.3s;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0;

}


button > input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 2px #c9c9c9;
    background-color: red;
    transition: border 0.3s;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    opacity: 0;
}

.dhtmlx_button{
    margin-top:10px;
}

.menu{
    background-color:  rgba(46,36,33, 0.0);
    font-family: 'Open Sans', sans-serif;
    color: floralwhite;
}

.menu > button{
    position: relative;
    width : 89px;
    height: 40px;
    margin: 4px;
    font-size: 11px;
}

.load{
    background-color: green;
}

#canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#legend {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    z-index: 2
}

#upload{
    position: absolute;
    width: 200px;
    height: 280px;
    top: 10px;
    left: 10px
}

#nodeInfoPanel{
    position: absolute;
    width: 300px;
    height: 130px;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    color: antiquewhite;
}

#nodeInfoPanel > p{
    text-align:center;
    vertical-align: middle;
}

#edgeInfoPanel {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 10px;
    right: 10px;
    z-index: 2
}

#rightFslLabels {
    overflow:auto;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: none;
}

#leftFslLabels{
    overflow:auto;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 10px;
    left: 10px;
    z-index: 2;
    display: none;
}

#search{
    position: absolute;
    width: 200px;
    height: 100px;
    top: 10px;
    right:300px;
    z-index: 2;
    display: none;
}

#full{
    height: 100%;
    min-height: 100%;
    top:0; right:0;
    bottom:0; left:0;
    background-color: white;
}

.label{
    color: black;
}
